<div class="bd-example-header">Tìm kiếm</div>
<div class="bd-example">
    <form action="/Home/Index">
        <div class="form-group row">
            <label for="example-text-input" class="col-3 col-form-label">Dự án</label>
            <div class="col-9">
                <input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-3 col-form-label">Địa điểm</label>
            <div class="col-9">
                <input class="form-control" type="search" value="How do I shoot web" id="example-search-input">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-3 col-form-label">Giá từ</label>
            <div class="col-9">
                <input class="form-control" type="search" value="500 triệu - 1 tỷ" id="example-search-input">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
            </div>
        </div>
    </form>
</div>