<div style="padding-top:10px">
    <div class="row text-center">
        <div class="col-12">
            <h2>ORCHID PARK</h2>
        </div>

    </div>

    <nav class="nav nav-pills nav-justified no-borders">
        <a class="nav-link " href="@Url.Action("Overview", "Project")">Tổng quan dự án</a>
        <a class="nav-link active" href="@Url.Action("Detail", "Project")">Chi tiết dự án</a>
    </nav>
</div>



<div class="jumbotron">
    <span class="transaction-item-block bg-green">12123</span>
    <span class="transaction-item-block">12123</span>
    <span class="transaction-item-block">SA212</span>
    <span class="transaction-item-block">AAA43</span>
    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>


    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>


    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>
    <span class="transaction-item-block"></span>
</div>

